<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">${UserServiceDBUrl}</property>
        <property name="hibernate.connection.username">${UserServiceLogin}</property>
        <property name="hibernate.connection.password">${UserServicePassword}</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="logging.level.org.hibernate.SQL">DEBUG</property>

        <!-- Entity-классы -->
        <mapping class="com.github.tapotas1234.model.User"/>
    </session-factory>
</hibernate-configuration>